/Acciones.class
/AccionesCliente.class
/Cliente.class
/Mascota.class
/Perro.class
/Principal.class
/Procesos.class
/Tortuga.class
/IMascota.class
/Gato.class
/MascatoFactory.class
/MascotaFactory.class
/MascotaIterator.class
